/* Estilos para pantallas de 405 píxeles o menos */
.logo-whatsapp-container {
  background-color: #ffffff;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  z-index: 1000;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 35%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-whatsapp-container:hover {
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.logo-whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-whatsapp img {
  border-radius: 35%;
  width: 80%;
  height: 80%;
}

@media (max-width: 800px) {
  .logo-whatsapp-container {
    scale: 0.7;
  }
}
